[2021-11-23 10:48] #554 closed

[2021-11-23 15:24] #575 closed

[2021-11-24 09:52] guarin commented on #493
The cli still uses SelfSupervisedEmbedding objects. We should decide whether we want to continue using it or also change to low level.

[2021-11-24 13:13] guarin opened #590 "Add examples for all models in documentation"
Create example code for every model we support using low-level blocks.

- [x] BYOL
- [x] Barlow Twins
- [x] MoCo
- [x] NNCLR
- [x] SimCLR
- [x] SimSiam
- [x] SwaV

Relates to #493

[2021-11-24 13:16] guarin opened #591 "Bump high-level model deprecation warning to 1.3.0"

[2021-11-24 15:11] #591 closed

[2021-11-24 16:24] guarin opened #594 "Update pytorch lightning metrics dependency"
`pytorch_lightning.metrics` is now an independent package: https://github.com/PyTorchLightning/metrics

We currently use the metrics module in the pizza filter tutorial and should remove it or add the new dependency.

[2021-11-25 12:29] guarin opened #595 "Update SimSiam module in SimSiam tutorial"
The SimSiam module in the SimSiam tutorial requires currently `x0` and `x1` in the forward pass but they are independent. We can simplify the forward function to accept only a single `x`.

[2021-11-26 08:31] #533 closed

[2021-11-26 12:13] guarin opened #597 "SwaV Cifar10 benchmark collate function arguments error"
The swav collate function in the benchmark is missing the `crop_min_scales` and `crop_max_scales` arguments

https://github.com/lightly-ai/lightly/blob/bc04a8bad92eb91fc7c2809506348df15d85b69a/docs/source/getting_started/benchmarks/cifar10_benchmark.py#L103-L106

It currently raises the following error:

[code]

This is because the min and max scales are by default set to a list with length two bu

[2021-11-29 08:32] guarin opened #598 "from_torch_dataset only works on classification datasets"
Using `LightlyDataset.from_torch_dataset` with a non-classification dataset fails because lightly assumes that the target is an integer but targets can be tuples or dicts for segmentation or detection tasks.

The current workaround is to set the `target_transform` to return an integer:
[code]

[2021-11-29 12:27] #595 closed

[2021-11-29 16:50] #590 closed

[2021-11-29 17:58] MalteEbner opened #604 "Tests of setup.py: install directly"
## Description
Currently the test of the setup.py uses a quite complicated install process:
https://github.com/lightly-ai/lightly/blob/006891e67f819a7d1250db2e324c3fc1a163c45b/.github/workflows/test_setup.yml#L28-L29
It fails when a branch is merged and thus deleted while the action is running.

It would be better to install it in an easier way without parsing the branch name and with caching:
htt

[2021-11-30 12:56] MalteEbner opened #607 "Save the CLI output in environment variables"
## Description
To be able to fully script lightly workflows and automate them, we need to be able to get the output of lightly cli commands. This can be done by saving it into an environment variable.
This is solution 4 from https://github.com/lightly-ai/lightly/issues/310#issuecomment-830034408

## Task
- save the `LIGHTLY_LAST_EMBEDDING_PATH`, `LIGHTLY_LAST_CHECKPOINT_PATH`, LIGHTLY_LAST_DATASET

[2021-11-30 13:41] MalteEbner opened #608 "Unmocked tests: cover more cases"
## Current state
The unmocked tests for CLI commands also used in the CI cover already quite some cases.
https://github.com/lightly-ai/lightly/blob/master/tests/UNMOCKED_end2end_tests/run_all_unmocked_tests.sh

We also have CI script for the CLI commands magic and upload, which need the API:
https://github.com/lightly-ai/lightly/blob/e18656578886f7a3eacfa6a052ef5d537bef5460/.github/workflows/tests

[2021-11-30 14:29] japrescott opened #609 "exclude_parent_tag not working"
lightly-download does not work with exclude_parent_tag

[2021-11-30 16:37] #568 closed

[2021-11-30 16:37] #576 closed

[2021-12-01 08:47] MalteEbner commented on #604
closed by #611

[2021-12-01 08:47] #604 closed

[2021-12-01 09:56] guarin opened #614 "Improve lightly-upload/magic error message when dataset name is malformed"
I tried to upload a dataset with points in its name and got the error message below. We should improve the error message to highlight that it failed due to the malformed dataset name, right now it is very cryptic.

[code]

[2021-12-02 10:29] guarin opened #615 "Update swav collate example"
The swav collate example uses moco collate by accident:
https://github.com/lightly-ai/lightly/blob/c01ac6cbff2085df604c4fd7f62e77f62e3b05cc/lightly/data/collate.py#L435-L438

[2021-12-02 10:59] guarin opened #616 "Update documentation version to 1.2.0"

[2021-12-02 10:59] guarin opened #617 "Fix documentation search"
- The search functionality in the docs seems to be broken
- link footer text back to main website
- update page title from (search for <title> tag in the <head>) `lightly 1.0.0 documentation` to `Lightly 1.2.0 documentation`

[2021-12-02 15:54] guarin opened #619 "Imagenette benchmark breaks if a batch has size 1"
If the batch size in the Imagenette benchmark is chosen so that the last batch from the test dataloader has size 1 the following error is raised:

[code]

See discussion here:
https://discordapp.com/channels/752876370337726585/752877278152622100/915968107141529632

This bug might also exist in the other benchmark or in general in the lightly dataset or the benchmark module.

[2021-12-03 07:21] #609 closed

[2021-12-03 08:07] #615 closed

[2021-12-06 09:44] guarin commented on #617
Fixed by updating sphinx to 1.0.0

[2021-12-06 09:44] #617 closed

[2021-12-06 09:45] guarin commented on #616
Closed by #618

[2021-12-06 09:45] #616 closed

[2021-12-10 07:38] philippmwirth opened #626 "# Command line tool not found"
# Command line tool not found

CLI commands did not work in the AWS environment (after `pip install lightly`). But somehow the CLI commands were not registered.
[code]

[2021-12-10 07:38] philippmwirth commented on #626
Can be solved by this:
https://stackoverflow.com/questions/38361505/how-do-i-locate-python-command-line-tools-after-installing-to-non-root-user-ac

Let's add a note to the docs 🙂

[2021-12-13 12:09] IgorSusmelj opened #628 "Add information about bitmask manipulation to the docs"
We did not include the BitMask lib in the docs. Furthermore, it would be great to add some examples for common use cases.

E.g. create bitmask from a tag based on some custom criteria:

The example below does the following:
1. fetch tags from API
2. does some bitmask manipulation based on the filenames
3. creates a new tag based on the new bitmask

[code]

[2021-12-13 13:03] sujanneeraj commented on #479
Hi,

Is this issue still offen. If yes, I would like to contribute to it. Could you guide me a bit?

Thank You

[2021-12-13 15:19] MalteEbner commented on #479
Hey @sujanneeraj,

yes, this issue is still open. Thank you for wanting to work on it, we always welcome that! As it is a "Figure Out" issue, its result should be a concept of how to guide the users. This concept could be in form of a sketch on paper, or different drafts and comparisons between them. Then it should also include a description of what should be implemented, i.e. follow-up issues.

A

[2021-12-17 21:35] naayem opened #635 "Can't access to ApiWorkflowClient.get_filenames_in_tag()"
Hello,
After setting up my **api client** and using the command:
`api_client.get_filenames_in_tag(tag_data='active-learning-loop-1')`

I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'ApiWorkflowClient' object has no attribute 'get_filenames_in_tag'

[2021-12-19 21:16] IgorSusmelj commented on #635
Hi @naayem, thanks for reporting the issue. Could you share more information about the version you are using and some more context. Were you following one of the tutorials?
We're currently having issues with the latest API version (lightly 1.2.0). Maybe installing lightly 1.1.23 could fix the issue?
`pip uninstall lightly` followed by `pip install lightly==1.1.23`

[2021-12-20 07:08] philippmwirth commented on #635
The following lines work for me in `lightly==1.2.1`

[code]

[2021-12-20 14:15] MalteEbner commented on #635
The method `get_filenames_in_tag()` was added in https://github.com/lightly-ai/lightly/blame/master/lightly/api/api_workflow_tags.py
and became part of `lightly==1.2.0`

[2021-12-21 17:38] MalteEbner opened #638 "Improve documentation on creating custom metadata"
## Description
There is currently no documentation on creating custom metadata in the coco format easily. Creating it by hand is not easy, as you need to take care of the image_ids.
https://docs.lightly.ai/getting_started/platform.html#custom-metadata

Thus it would be good to show how to create a custom metadata file for more common formats, e.g. from a pandas dataframe.

Furthermore, the utility

[2021-12-22 08:29] MalteEbner commented on #586
It might not be a big problem, but I found that we don't have a CLI keyword for uploading metadata . Instead, if `upload` is neither `thumbnails` nor `full` , then there is the metadata upload.
This has lead to us using very different keywords for metadata upload. In some documentation it is called `metadata`, in other `meta`, in other `None` . Should we try to make this consistent and enforce a s

[2021-12-25 12:28] heytitle opened #645 "Incorrect inputsize for BarlowTwins Lightning Example Code"
Should the input_size in [1] be `32` instead of `224`?
In [2], we use `input_size=32`.

[1] https://github.com/lightly-ai/lightly/blob/master/examples/pytorch_lightning/barlowtwins.py#L44
[2] https://github.com/lightly-ai/lightly/blob/master/examples/pytorch/barlowtwins.py#L35

[2021-12-27 07:29] philippmwirth commented on #645
Hi @heytitle thanks for the question! I'll pass it on to the author, @guarin 🙂

[2021-12-28 17:47] IgorSusmelj commented on #645
I think this is indeed a mistake.
BarlowTwins works also for small images.

Note that papers like SwaV use additional smaller crops. Since we already have 32x32 images in cifar10 it makes sense to not use smaller crops there.
Most of the papers compare benchmarks on the ImageNet dataset with 224x224 input resolution. So if you have larger input images I'd suggest using a larger resolution as well

[2021-12-29 07:44] littleolex opened #648 "Did cifar10 dataset need gaussian blur"
In the https://github.com/lightly-ai/lightly/blob/master/lightly/data/collate.py,  class SimCLRCollateFunction() presents a n example for using it,
collate_fn = SimCLRCollateFunction(

but in https://docs.lightly.ai/examples/simclr.html
collate_fn = SimCLRCollateFunction(input_size=32)
so I wonder which one is the one you suggested?

[2021-12-29 07:55] philippmwirth commented on #648
Hi @littleolex, in the paper the authors leave out Gaussian blur so I would recommend to use the first option:
[code]

We will fix the example to do the same 👍

[2021-12-29 09:03] littleolex commented on #648
Thank you for replying so quickly

[2021-12-30 19:04] JeanKaddour opened #650 "Why are there different backbones across SSL methods in CIFAR10 benchmark?"
Hi, thank you so much for developing this great library, I found it extremely useful for my work!

I noticed that in the [CIFAR10 benchmark script](https://github.com/lightly-ai/lightly/blob/master/docs/source/getting_started/benchmarks/cifar10_benchmark.py), there are different backbones across the SSL methods.

The two differences I've noticed are:
1. some use `torchvision.models.resnet18()`, ot

[2021-12-30 19:29] JeanKaddour commented on #597
did you find a fix for that?

[2021-12-31 15:49] philippmwirth commented on #597
Hi @JeanKaddour, having crop sizes of `16` doesn't make a lot of sense because the ResNet will not be able to handle such small images. Instead it's probably better to simply change the other parameters as well, e.g.
[code]

Alternatively, you can use larger input sizes:
[code]

[2021-12-31 15:58] philippmwirth commented on #650
Dear @JeanKaddour thanks for bringing this up! It's most likely an oversight and we'll have to fix it and make it consistent.
The `nn.AdaptiveAvgPool2d(1)` ensures that the output of the backbone is compatible with the projection heads.

[2021-12-31 16:30] JeanKaddour commented on #597
Thanks a lot for your help!

[2021-12-31 16:30] JeanKaddour commented on #650
thank you very much!

[2022-01-05 07:29] #650 closed

[2022-01-05 08:42] #648 closed

[2022-01-05 14:40] #465 closed

[2022-01-05 14:41] #645 closed

[2022-01-14 10:04] #635 closed

[2022-01-21 14:39] ya-stack opened #671 "How to generate labels from SimCLR Algorithm to convert Self-Supervised to Supervised Problem?"
I have trained SimCLR Model and got the nearest embeddings of a Query Image.
Now, I want to create classes for these Nearest Embedded Images and want to save these images into the respective class folders.
It would be really helpful if you can provide a solution/approach to this.

Waiting for your response.
Thanks in advance.

[2022-01-21 15:03] MalteEbner commented on #671
Hi @ya-stack !
Could you elaborate on what you desired output what look like?
I assume that you have a single query image and found its nearest neighbours in the embedding space. What do you want to do with these nearest neighbours? Do you want to save the corresponding images all in the same new folder?

And what do you mean by "creating classes"? If you want to label your images, you need a labe

[2022-01-21 17:28] ya-stack commented on #671
Hi Team,
Thanks for your reply.

And for further clarification, I want to create a separate folder for each query image and its corresponding nearest neighbors so that I can use these images for other tasks. So, how can I do the same?

Thank you!

[2022-01-21 17:28] ya-stack commented on #671
Hi Team,
Thanks for your reply.

And for further clarification, I want to create a separate folder for each
query image and its corresponding nearest neighbours so that I can use
these images for other tasks. So, how can I do the same?

Thank you!

On Fri, 21 Jan 2022 at 20:33, MalteEbner ***@***.***> wrote:

[2022-01-24 12:51] Borda opened #672 "integrate with Lightning ecosystem CI"
Hello and so happy to see you use Pytorch-Lightning! :tada:
Just wondering if you already heard about quite the new **Pytorch Lightning (PL) ecosystem CI** where we would like to invite you to... You can check out our blog post about it: [Stay Ahead of Breaking Changes with the New Lightning Ecosystem CI](https://devblog.pytorchlightning.ai/stay-ahead-of-breaking-changes-with-the-new-lightning-eco

[2022-01-25 08:27] MalteEbner commented on #671
Hey @ya-stack
In the Lightly Platform, you can create a separate tag for each query image and its nearest neighbours. Then you can download the tag with its filenames and images by going to "download".

[2022-01-30 20:57] Jcastanyo opened #678 "Imagen segmentation"
Hi everyone,

I wonder if It is possible to apply these methods in image segmentation. In that case, is there any tutorial available?

Thanks in advance.
Julio.

[2022-01-31 08:26] guarin commented on #678
Hi,

Self-supervised learning can definitely used for pretraining an image segmentation network. In this case it is important to consider how many objects per image your dataset contains. If you have a few large objects per image (lets say 1-3) then you could use for example one of our SimCLR or MoCo models.

 If there are many small objects on the image it becomes more complicated as most self-su

[2022-01-31 08:52] wajeehDarvis opened #679 "hydra error"
After pulling the image when I ry to run it i get the following error.

Traceback (most recent call last):
  File "main.py", line 1496, in <module>
    main(None)
  File "/opt/conda/envs/env/lib/python3.7/site-packages/hydra/main.py", line 37, in decorated_main
    strict=strict,
  File "/opt/conda/envs/env/lib/python3.7/site-packages/hydra/_internal/utils.py", line 347, in _run_hydra
    lambda:

[2022-02-04 07:06] philippmwirth commented on #59
This was added with #666.

[2022-02-04 07:06] #59 closed

[2022-02-11 18:23] opassos opened #696 "_lightly_cli is missing it's return statement"
as a side effect `train_model_and_embed_images` is not working as expected.

[2022-02-22 01:13] Atharva-Phatak opened #698 "Adding DINO to lightly"
First of all Kudos on creating this amazing library ❤️.

I think all of us in self supervised learning community have heard of [DINO](https://github.com/facebookresearch/dino). For the past couple of weeks, I have been trying to port the DINO implementation in facebook's implementation to PL. I have implemented it atleast for my use case which is a kaggle competition. I initially looked at lightly

[2022-02-22 07:52] guarin commented on #698
Hi @Atharva-Phatak! Thanks for reaching out!

We recently implemented DINO but did not announce it yet. All the code should be available in the latest release (1.2.7) and you can find the docs on how to use it here: https://docs.lightly.ai/examples/dino.html

We implemented the following parts:
* [Loss](https://github.com/lightly-ai/lightly/blob/master/lightly/loss/dino_loss.py) (it somehow did no

[2022-02-23 00:53] Atharva-Phatak commented on #698
So cool. Amazing work guys ! Code looks so clean.

I was thinking maybe if we could utilities to visualize attention maps for vit-models trained using SSL ? Just like DINO did and the cool video they released.

That will be the cherry on cake in my opinion if we added the visualization ?

What do you think ? I am very motivated to make contributions to lightly !

[2022-02-23 09:54] #696 closed

[2022-02-23 12:20] guarin commented on #698
We thought about making a tutorial on how to use DINO with a transformer and visualize the results. Let us know if you would be interested in it. Contributions are of course always very welcome!

[2022-02-23 16:40] opassos commented on #696
Yeah! I think that was exactly the problem. Tnx for the quick fix

[2022-02-24 15:25] guarin commented on #698
Hi, that sounds great!

As an outline I would propose the following two steps:
1. Show how to train DINO with a transformer (you can take the code from the examples)
2. Visualize the transformer self attention for some images

For the visualization I would maybe refactor the [original code](https://github.com/facebookresearch/dino/blob/main/visualize_attention.py) into one or two easy to use funct

[2022-02-24 21:28] Atharva-Phatak commented on #698
That sounds, I should have that up and running quickly. Any data-sets you would recommend ? Maybe cifa10 ?

Also quick question, in the [lightning implementation of Dino](https://docs.lightly.ai/examples/dino.html) you guys seem to update momentum in the training step, but shouldn't it be done in ```on_train_batch_end``` hook in lightning ? Because even in original implementation they do it after

[2022-02-25 08:34] guarin commented on #698
Cifar10 looks good, I'll attach a DINO pretrained cifar10 model (800 epochs) below so you don't have to run the full training. We can always change the dataset if it does not work well. [Imagenette](https://github.com/fastai/imagenette) would be another option as it has larger images but has fewer images than imagenet.

This should not change anything, as we still run the update between two traini

[2022-02-25 18:53] Atharva-Phatak commented on #698
@guarin Maybe I can create a small PR ❤️  to add ```cancel_gradient_last_layer``` to DINO Head ? Then I will create an example which utilizes everything ?

[2022-02-28 08:33] guarin commented on #698
Yes that would be great!

[2022-02-28 21:47] Atharva-Phatak commented on #698
Awesome I will create a PR :)

[2022-03-05 22:17] psp313 commented on #679
error: /lib/x86_64-linux-gnu/libmongoc-1.0.so.0

[2022-03-06 14:16] IgorSusmelj opened #721 "Add Masked Autoencoder implementation"
The paper **Masked Autoencoders Are Scalable Vision Learners**
 https://arxiv.org/abs/2111.06377 is suggesting that a masked auto-encoder (similar to pre-training on NLP) works very well as a pretext task for self-supervised learning. Let's add it to Lightly.

![image](https://user-images.githubusercontent.com/1522766/156927075-bc2bc072-ef84-4b1c-8fbe-229c9eb2665c.png)

[2022-03-07 07:03] philippmwirth commented on #679
Hi @wajeehDarvis, we have investigated the problem and it seems you're trying to run the image with the custom entry point `/bin/bash`. However, this is not the intended way of running the image. Please consult the [docs for further information](https://docs.lightly.ai/docker/getting_started/first_steps.html). We will add a clearer error message in one of the upcoming releases.

[2022-03-07 07:03] #679 closed

[2022-03-07 07:06] philippmwirth commented on #400
This should be resolved by changes we made on the API side. Feel free to re-open this if the error should come up again.

[2022-03-07 07:06] #400 closed

[2022-03-07 07:07] philippmwirth commented on #409
Closed by #702

[2022-03-07 07:07] #409 closed

[2022-03-07 07:15] #503 closed

[2022-03-07 07:17] philippmwirth commented on #559
Closed by #503

[2022-03-07 07:17] #559 closed

[2022-03-07 07:17] philippmwirth commented on #307
Closed by #372

[2022-03-07 07:17] #307 closed

[2022-03-07 07:21] philippmwirth commented on #564
Solved by #565 and #579

[2022-03-07 07:21] #564 closed

[2022-03-09 15:37] JosianeUwineza opened #730 "ActiveLearningAgent: KeyError: 'initial-tag'"
Hello Team, I am new to the Lightly package usage.
I want to use to apply active learning  for image classification, But trying it as shown in the tutorial I Am getting key error at ActiveLearningAgent :
This the error:

File "/home/josi/anaconda3/envs/ActiveL/lib/python3.8/site-packages/lightly/active_learning/agents/agent.py", line 79, in __init__
    self._query_tag_id = tag_name_id_dict[query_

[2022-03-09 16:48] MalteEbner commented on #730
Hey @JosianeUwineza , thanks for trying out the tutorial.
Do I assume correctly that you use this tutorial? https://docs.lightly.ai/tutorials/platform/tutorial_active_learning.html#
The problem is most probably, that you did not upload your dataset yet to the Lightly Platform. Thus it does not include the tag 'initial-tag' You can upload your dataset to the Lightly Platform and browse it there by

[2022-03-10 13:11] philippmwirth commented on #391
This has been closed by #699 and #704.

[2022-03-10 13:11] #391 closed

[2022-03-10 14:44] philippmwirth commented on #506
CLosed by #509

[2022-03-10 14:44] #506 closed

[2022-03-10 14:44] #471 closed

[2022-03-10 14:45] #467 closed

[2022-03-10 14:47] philippmwirth commented on #597
Closed by #694

[2022-03-10 14:47] #597 closed

[2022-03-10 14:48] #466 closed

[2022-03-11 06:29] JosianeUwineza commented on #730
Hey @MalteEbner, thank you for the comment, I followed the tutorial and finally, it works.

[2022-03-11 11:09] #730 closed

[2022-03-11 16:48] sarmientoj24 opened #736 "Loss using SwaV getting stuck at 6.24"
I've used the given example for SWAV using ResNet50

[code]

But the loss has been stuck in 6.24 and never moved anymore.

I edited the following as well:
- changed learning rate from `0.01` to `0.6`
- Added `CosineAnnealing`
- made `resnet50` as `pretrained=True`
- modified the `SwaVCollateFunction()`

But it still got stuck with 6.24

![image](https://user-images.githubusercontent.com/8830319/15

[2022-03-13 01:57] Atharva-Phatak commented on #736
One thing you should keep in mind, that these techniques are very much batch_size sensitive.  I would recommend you increase batch size at least to 256 or 512 to start seeing the results. I suspect your model has collapsed due to the small batch size.

Please let me know if you have other questions.

[2022-03-13 04:32] shabbirshuvo opened #737 "how to use the trained ssl model using lightly to downstream task (BYOL)"
Hi, I am not sure if it is the right place to post this. I am using lightly for my research project. So far I have used it to train my model on the customized dataset using lightly. Thaats a huge help thank you. But now I am not properly understanding how to use my trained byol model to downstream task , for example classification.

Is there any tool available in the framework for this? If not can

[2022-03-13 08:52] sarmientoj24 commented on #736
Okay. I tried changing the batch size @Atharva-Phatak
But I am getting this error

[code]

[2022-03-13 23:23] Atharva-Phatak commented on #737
So SSL is a good pretraining-step for downstream tasks. You used BYOL as a pre-training task which helped your model to learn good representations. Now what you can do is funetune the model on downstream task using [Pytorch-Lightning](https://www.pytorchlightning.ai/) or many plethora PyTorch frameworks available.

For example, we are talking about classification we are running under the assumptio

[2022-03-13 23:24] Atharva-Phatak commented on #736
Are you running on  a DDP setup and lightning ? Can you paste the code you wrote for lightning ?

[2022-03-13 23:25] Atharva-Phatak commented on #721
I would like to work on this, do we have reference code implementations for this ? I am not sure if I will be able to reproduce the results as I do not have that much hardware, but this seems interesting.

[2022-03-14 17:22] MalteEbner commented on #737
We have a tutorial on how to use self-supervised pretaining for an object-detection downstream task. Perhaps you can use that and adapt it to your needs. https://docs.lightly.ai/tutorials/package/tutorial_pretrain_detectron2.html

As a high-level guide:
- have a trainable supervised model for the downstream task (e.g. classification)
- extract the backbone (e.g. resnet50) and create you self-super

[2022-03-15 07:12] philippmwirth commented on #721
You can check out [papers with code](https://paperswithcode.com/paper/masked-autoencoders-are-scalable-vision). They are referencing [this repo](https://github.com/facebookresearch/mae) by facebook research.

It'd be great if you could share your thoughts on how you would integrate it best into the current lightly package structure 🙂

[2022-03-15 07:31] philippmwirth commented on #698
I think we can close this one 🙂

[2022-03-15 07:31] #698 closed

[2022-03-15 07:40] guarin commented on #737
We also have a tutorial that shows how to train a linear classifier on top of your pretrained model: https://docs.lightly.ai/tutorials/package/tutorial_moco_memory_bank.html#

The classifier is this section: https://docs.lightly.ai/tutorials/package/tutorial_moco_memory_bank.html#create-the-classifier-lightning-module

[2022-03-15 19:35] Atharva-Phatak commented on #721
@philippmwirth  Thanks for the references. I will give the paper a read and then we can discuss ideas how we can integrate it with lightly. This will be fun to do.

[2022-03-16 00:24] shabbirshuvo commented on #737
thank you all for your kind replies! @guarin sorry again for another silly question. what should I change if I want to use pytorch instead of pl lightning? can you please help me to convert the same tutorial to pytorch trainer instead of pl?

[2022-03-16 00:32] Atharva-Phatak commented on #737
@shabbirshuvo here is a tutorial that may help : https://towardsdatascience.com/from-pytorch-to-pytorch-lightning-a-gentle-introduction-b371b7caaf09

[2022-03-16 07:16] guarin commented on #737
We have example code on how to train BYOL using pytorch: https://docs.lightly.ai/examples/byol.html

For the classifier something like this should work:

[code]

I didn't test the code but it should get you started :) It follows the same structure as the moco tutorial: https://docs.lightly.ai/tutorials/package/tutorial_moco_memory_bank.html#

[2022-03-16 20:13] Atharva-Phatak commented on #721
I looked at the [code](https://github.com/facebookresearch/mae/tree/6a2ba402291005b003a70e99f7c87d1a2c376b0d). It seems simple enough. Few things I would like to highlight.

* **Augmentations** : They use standard transformations available in torchvision.
* **Model Architecture** : The repo has their own implmentation of [MAE](https://github.com/facebookresearch/mae/blob/6a2ba402291005b003a70e99f7

[2022-03-16 21:36] IgorSusmelj commented on #721
Hi @Atharva-Phatak, thanks for the summary!

That looks great.

**Augmentations** should be used from torchvision whenever possible.
**Model Architecture** I'd try to avoid adding timm as a dependency. Any thoughts @guarin and @philippmwirth ?
**Visualization-Utils** we can add this later or one could use the colab from facebook :)
**Criterion/Loss Function** this should be separate from the model

[2022-03-16 21:40] IgorSusmelj commented on #721
We can test the whole implementation on our hardware.

[2022-03-16 22:06] Atharva-Phatak commented on #721
@IgorSusmelj We can use code from ```timm``` it seems pretty easy to integrate that. This will remove additional dependency of timm.

[2022-03-17 07:45] philippmwirth commented on #721
Please correct me if I'm wrong but wouldn't it be enough to e.g. inherit from the torchvision `ViT` implementation ([link](https://github.com/pytorch/vision/blob/main/torchvision/models/vision_transformer.py)) and simply override the `forward` function. Something like this:

[code]

And then we could add modules for the decoder and for the loss to lightly. Sharing the architecture with torchvision

[2022-03-17 08:03] guarin commented on #721
I remember that the masking + positional encoding part was not trivial. Especially because it is needed in the encoder and the decoder. And it did not fit nicely our workflow where we always return (image, target, filename) tuples. But I am sure we can figure it out.

I would also use the pytorch vit and first focus on implementing the model without any visualizations.

[2022-03-17 14:01] philippmwirth opened #744 "Remove option to initialize ApiWorkflowClient without dataset id"
# Remove option to initialize ApiWorkflowClient without dataset id

Currently, it's possible to create an `ApiWorkflowClient` without a `dataset_id`. If this is done and a function is used which requires a `dataset_id`, the `ApiWorkflowClient` assumes the latest among the existing datasets as its dataset without warning the user about this. This is dangerous behavior and should be changed.

I see

[2022-03-17 15:41] #744 closed, assigned to nobody

[2022-03-18 17:01] Atharva-Phatak commented on #721
@philippmwirth I agree torchvision version looks simple enough. If everyone concurs then I will study the code in torchvision and we can implement MAE accordingly.

Please let me know.

[2022-03-20 12:34] shabbirshuvo commented on #737
Thank you everyone for your kind help. It was really helpful and it solved my problem.

[2022-03-20 12:34] #737 closed

[2022-03-20 12:44] shabbirshuvo opened #745 "Adopting lightly LightlyDataset class for other type of image data (*pt tensor format)"
Hi everyone. I am trying to work with few different kinds of data than standard image formats . I have some medical image data converted to normalized images in *.pt format. Now I want to use LightlyDataset to load these tensor images to create my dataset like the following line of code:
"dataset = LightlyDataset("path to my tensor images")

is there any tool available in the lighty library to do

[2022-03-20 12:52] shabbirshuvo commented on #745
one thing to mention here, is I have sorted my tensor data similar to imagenet folder structure which is already supported by LightlyDataset class.

[2022-03-21 14:16] JosianeUwineza opened #746 "How to Use Active Learning on local stored data without uploading the data on lightly web-app"
I would like to ask how to use lightly for  my local data  sampling without uploading the data on  lightly web app.  As it is mentioned in the documentation.

you can process larger datasets completely on your end without data leaving your infrastructure!!!.

Any tutorial for this?
Ask your account manager from Lightly for the credentials to download the docker container? how to know my account ma

[2022-03-22 07:51] philippmwirth commented on #745
Hi @shabbirshuvo, the `LightlyDataset` currently doesn't support `*.pt` format. What you can do is write your own dataset class which loads the `*.pt` images and then use the `LightlyDataset.from_torch_dataset` function ([link](https://docs.lightly.ai/lightly.data.html#lightly.data.dataset.LightlyDataset.from_torch_dataset)) to wrap it in a `LightlyDataset`.

Let me know how it goes! I'm happy to

[2022-03-24 14:58] #314 closed

[2022-03-29 11:03] philippmwirth commented on #721
Sounds great @Atharva-Phatak! Let us know if you need support 🙂

[2022-04-01 17:30] MalteEbner commented on #746
All features, including Active Learning, that are used in the platform tutorials, work together with the Lightly WebApp:
https://docs.lightly.ai/tutorials/platform.html

We also offer a docker container for running Lightly on-premise. It easily scales to millions of samples and includes on-premise selection and Active Learning. It is documented the `Docker` section: https://docs.lightly.ai/docker/

[2022-04-01 17:30] #746 closed, assigned to nobody

[2022-04-04 12:43] robmarkcole opened #757 "Unusual error on lightly-1.2.12"
Getting this error:

[code]

There are jpgs in `/content/drive/MyDrive/data/mine/`
Token/dataset_ide correct

[2022-04-04 12:56] philippmwirth commented on #757
Hey @robmarkcole thanks for reporting this bug!

This should be easy to temporarily resolve by uninstalling the `prefetch_generator` package or setting up a new environment without it.

The problem occurs because of this line replacing the PyTorch dataloader by a `BackgroundGenerator`:
https://github.com/lightly-ai/lightly/blob/947d3fdaf5b09988fa491a154470db1e2940c096/lightly/embedding/embedding.p

[2022-04-06 08:31] robmarkcole commented on #757
Getting this still on 1.2.13 @philippmwirth

[2022-04-06 08:44] philippmwirth commented on #757
That's strange, I'm not able to reproduce this with:
[code]
`lightly-embed`:
[code]

Can you share more about the environemnt you are using?

[2022-04-06 08:47] robmarkcole commented on #757
Google colab:
[code]

[2022-04-06 08:57] philippmwirth commented on #757
Is it possible that you need to restart the runtime? I tried to reproduce the issue here:
https://colab.research.google.com/drive/1AhoCdvetvPo0IhWTw90GV2O2MUq2EyDm?usp=sharing

Or maybe the error happens at a different place now? In case the error trace is not exactly what it was above, can you maybe share it again? Thanks!

[2022-04-06 09:00] robmarkcole commented on #757
I am executing the command in the shell via `!`, and get the same result in the built in terminal, so not affected by restarting the kernel

[2022-04-11 16:18] NoviceMAn-prog opened #765 "torchvision and torch incompatibility"
AttributeError: module 'torchvision.datasets' has no attribute 'VisionDataset'
While using the latest lightly version. Using pervious version throws the same error

[2022-04-11 16:24] philippmwirth commented on #765
Hi @NoviceMAn-prog

Could you please share your `torchvision` version?

[2022-04-12 16:29] Atharva-Phatak commented on #721
I am sorry this is taking time from my end as I am busy with my final exams 😭 . I will try to create a PR ASAP.

[2022-04-13 12:56] philippmwirth commented on #721
No worries, good luck with your exams!

[2022-04-22 16:09] philippmwirth commented on #721
I've been doing some investigations and somehow this is the best I've come up with on how to make the torchvision ViTs work with Lightly and the MAE setup. @guarin @Atharva-Phatak @IgorSusmelj I'd love to hear your opinions. IMO it's not a very clean approach but I think it should work... If you have better ideas let me know 🙂

Possible approach for an MAE implementation (or rather how to pretrain

[2022-04-23 10:02] guarin commented on #721
This looks great!

Based on your proposal I was able to write the following draft that successfully runs, not sure if it actually works though 🙂

The code is pretty verbose as I have not yet figured out an optimal structure but all the building blocks are there. The main issue is that encoding, masking, and decoding are pretty interleaved and have to share a lot of information between each other.

[2022-04-23 16:11] Atharva-Phatak commented on #721
@guarin I was implementing Encoder and Decoder as different classes similar to heads and then I was going to combine them in a a single class so that the information sharing will be a bit easier between the modules. I think @philippmwirth seems more elegant and easy to adapt. But that being said I would like to know which approach should I follow ?

[2022-04-25 05:22] philippmwirth commented on #721
Great draft @guarin! 🙂

To answer both your questions: I'd suggest we start building the low-level blocks first (i.e. `MAEEncoder` and `MAEDecoder`) similar to what @guarin used above. We can always add a high-level interface which connects the two later. For example, we can add `lightly.models.modules.encoders.MAEEncoder` and `lightly.models.modules.encoders.MAEDecoder` in a first step and then l

[2022-04-25 14:08] guarin commented on #721
Aaah good catch, I didn't notice that! Yes we either have to add a note or can overwrite the positional embedding with a sine-cosine one. Although overwriting would break pretrained vits, so maybe that is not the best idea.

Regarding cleanup / code structure:

* I think we can move all the functions at the beginning of my draft into a some helper file, they will probably be useful again for other

[2022-04-26 00:19] Atharva-Phatak commented on #721
Hi @guarin I am adding the implementation of encoder. My decoder is same is as yours.
So all in all @guarin we should move ahead with your structure, the only thing is we need to structure the helper utilities very properly.

[code]

[2022-04-26 07:06] guarin opened #777 "Odin: Object discovery and representation networks"
## Odin: Object discovery and representation networks

16.03.2022
https://arxiv.org/abs/2203.08777

New deepmind paper about self-supervised pretraining using object segmentation. This paper builds on the [DetCon](https://arxiv.org/abs/2103.10957) paper which relies on hand-crafted segmentation algorithms. Odin does not need a segmentation prior but learns segmentations fully unsupervised. Some ve

[2022-04-26 07:13] guarin opened #778 "SplitMask: Are Large-scale Datasets Necessary for Self-Supervised Pre-training?"
## SplitMask: Are Large-scale Datasets Necessary for Self-Supervised Pre-training?

20.12.2021
https://arxiv.org/abs/2112.10740

Similar method as [MAE](https://arxiv.org/abs/2111.06377) but adds an additional InfoNCE loss and makes two instead of just one forward pass through the encoder. Shows strong results when trained only on scene images (COCO).

![Screenshot 2022-04-26 at 09 07 42](https://

[2022-04-26 07:20] guarin opened #779 "VICReg: Variance-Invariance-Covariance Regularization for Self-Supervised Learning"
## VICReg: Variance-Invariance-Covariance Regularization for Self-Supervised Learning

21.05.2021
https://arxiv.org/abs/2105.04906
https://github.com/facebookresearch/vicreg

New model similar to [Barlow Twins](https://arxiv.org/abs/2103.03230) but combines three losses: invariance, variance, and covariance. Uses a fully symmetric model architecture and does not use feature normalization.

![Scree

[2022-04-26 07:28] guarin opened #780 "SimMIM: A Simple Framework for Masked Image Modeling"
## SimMIM: A Simple Framework for Masked Image Modeling

18.11.2021
https://arxiv.org/abs/2111.09886
https://github.com/microsoft/SimMIM

Similar architecture as [MAE](https://arxiv.org/abs/2111.06377) but uses only a single linear layer as decoder instead of a transformer, passes masked and non-masked tokens to the encoder, and uses l1 instead of l2 loss.

![Screenshot 2022-04-26 at 09 23 04](htt

[2022-04-26 07:36] guarin opened #781 "DirectCLR: Understanding Dimensional Collapse in Contrastive Self-supervised Learning"
## DirectCLR: Understanding Dimensional Collapse in Contrastive Self-supervised Learning

18.10.2021
https://arxiv.org/abs/2110.09348
https://github.com/facebookresearch/directclr

Similar model as SimCLR but does not require a projection head and instead calculates the loss only on a subset of the embedding dimensions. The main focus of the paper is on dimensional collapse and it uses SVD to moni

[2022-04-26 07:40] guarin opened #782 "DCL: Decoupled Contrastive Learning"
## DCL: Decoupled Contrastive Learning

13.10.2021
https://arxiv.org/abs/2110.06848

Introduces a new contrastive loss function (DCL loss). Compatible with architectures such as SimCLR but trains much faster. Works with small batch sizes.

Estimated effort to implement in Lightly: Very low
* Add DCL Loss

[2022-04-26 07:45] guarin opened #783 "MoCo v3: An Empirical Study of Training Self-Supervised Vision Transformers"
## MoCo v3: An Empirical Study of Training Self-Supervised Vision Transformers

05.04.2021
https://arxiv.org/abs/2104.02057
https://github.com/facebookresearch/moco-v3

Adapts MoCo v2 for vision transformers and slightly simplifies the architecture (no memory queue). All the building blocks should already be implemented in lightly.

Estimated effort to implement in Lightly: Low
* Add new MoCo exam

[2022-04-28 10:54] jonnor commented on #780
In the appendix, section E of the SimMIM paper they are testing with a ResNet50 - which also shows performance above that of other self-supervised approaches with convolutional neural networks (BYOB etc).

Will such a configuration also be possible with Lightly? Convnets have the advantage of being very well understood, have good compute performance, and are easy to deploy - including to accelerat

[2022-04-28 15:53] guarin commented on #780
Great find! I completely missed this part of the paper.

It looks relatively simple to implement but is not part of the official code which makes it a bit hard to assess if there are any pitfalls. We could give it a try, it could be even easier to implement than the transformer version. We just have to implement the masking for resnets and slightly adapt the forward pass.

[2022-04-29 07:55] IgorSusmelj commented on #782
There is a reference implementation here: https://github.com/raminnakhli/Decoupled-Contrastive-Learning/blob/main/loss/dcl.py

I'd suggest to keep this loss as a separate instead of trying to merge it with the NTX-Ent loss we already have.

[2022-05-05 16:30] lukasugar opened #791 "Supporting Tensor as input to ImageCollateFunction"
I'm using ImageCollateFunction to augment images in SimClr and BYOL methods. I've have implemented a torch `Dataset` which is then passed to `LightlyDataset`, like `LightlyDataset.from_torch_dataset(torch_dataset)`. My torch dataset's `__getitem__` method returns image and label pair.

The issue is that [ImageCollateFunction](https://github.com/lightly-ai/lightly/blob/020ff078a4f357c950c4823402f42

[2022-05-08 07:58] IgorSusmelj commented on #791
Yes, I think it's now safe to switch to gaussian blur by torchvision. We initially kept our version to make sure we keep backward compatibility. But torchvision already introduced the blur in version 0.8.
We could also support both, tensors and PIL images as input. We just need to make sure the ordering of the channels is correct or does not cause any issues. And we would need to check all the oth

[2022-05-09 07:12] guarin commented on #791
Thanks @lukasugar for making the issue and investigations!

I would suggest the following changes:
* Change gaussian blur to torchvision
* Add deprecation warning when using our gaussian blur transform
* Add a `to_tensor` argument to the collate functions. If `True` then add a `ToTensor` transform to the applied transforms, otherwise don't add it. This is consistent with how we handle image normal

[2022-05-09 10:14] lukasugar commented on #791
I agree, there's no need for ToTensorCustom then. I'll create a PR with these changes and link the issue.

[2022-05-09 10:50] guarin commented on #791
That sounds great! Thanks a lot, looking forward to your pr :)

[2022-05-13 15:03] albertoRodriguezVW opened #801 "Active Learning: Is the sampling method e.g Coreset re-applied after uploading new embedding?"
Hi,
first, thanks for the nice package 👍

I have the following question. Considere I  have a dataset X of unlabeled images and proceed as follows:
1) I compute embeddings with model A  of the dataset X. Moreover, the scores are computed with predictions from model A
2) I compute two subsamplings of the dataset using CORESET and CORAL respectively
3) Now I produce a second set of embeddings with mo

[2022-05-13 15:09] philippmwirth commented on #801
Hi @albertoRodriguezVW

You are exactly right. The selection is still the one done on embeddings A. It's simply visualized using embeddings B.

Thanks for the feedback! We'll try to make it more clear 🙂

[2022-05-17 11:18] #782 closed

[2022-06-07 11:34] jonnor commented on #780
Looks like masked autoencoders now went in (#799), which is maybe a good starting point for SimMIM?

[2022-06-07 12:22] guarin commented on #780
Yes, I think we can just combine the `MAEBackbone`, a linear prediction head and the l1 loss in a module to build the `SimMIM` model. I would propose to add this as a new module in the imagenette benchmark file. Then we can test it and also see if we want to do some refactorings or add building blocks.

[2022-06-14 05:50] aqsalab opened #837 "Request to solve issue"
Hy! 

I'm student of research. I'm interested in your code of lightly and I like it strongly.

I want to use this code in own research era. Related that code I have downloaded all dependencies but one thing can't implement that is lightly.

You used in your code but I can't access through using this command which you have mentioned in readme "pip3 install lightly" please share the copy of version

[2022-06-14 06:37] guarin commented on #837
Hi!

Could you provide the error that you get when you try to install lightly? This would help us debug your issue :)

[2022-06-14 07:10] aqsalab commented on #837
Lightly version 0.0.0 does not support.

On Tue, Jun 14, 2022, 11:38 AM guarin ***@***.***> wrote:

[2022-06-14 07:28] aqsalab commented on #837
Lightly version 0.0.0 does not support the code .and does not update the
lightly version . please  help to solve this issue in coding

On Tue, Jun 14, 2022, 12:09 PM Aqsa Ubaidullah ***@***.***>
wrote:

[2022-06-14 07:31] guarin commented on #837
Hmm this is weird. How exactly do you install lightly? Could you provide the steps and commands you run? Also, are you installing it in a virtual environment or conda environment?

[2022-06-14 08:03] aqsalab commented on #837
I want to install lightly in python 3.6+ with pip3 install lightly  .but
python 3.6+ does not support pip 3 .pip 3 install lightly command not run
in command prompt .I want to try  install in both virtual environment and
conda environment .but in virtual environment the given code of lightly -ai
give me error  of lightly installation   command .and in conda environment,
conda not install in 7th ge

[2022-06-14 09:00] guarin commented on #837
Please make sure that you have indeed the correct version of python. Run the following in the terminal and it should show at least python version 3.6:
[code]

Then you can run:
[code]
And you should have installed lightly successfully in a new virtual environment.

[2022-06-14 12:50] ShamsaHasnain opened #842 "Help for cuda ..."
Hy! I want to use this code lightly. How install cuda because when I install cuda error occur "graphic driver not compatible with this version of windows ".
I have a GPU with same driver. How I solve it plz help me and if you agree to share cuda version So plz help share I want to use it with cuda ....

[2022-06-21 10:20] ramdhan1989 opened #848 "ImportError: cannot import name 'container_abcs' from 'torch._six'"
Anyone can solve this issue ?

[code]

thank you

[2022-06-21 11:57] guarin commented on #842
Hi, lightly should be compatible with any recent cuda version as it is built on pytorch. The instructions on how to install pytorch for windows are provided on the pytorch site: https://pytorch.org/get-started/locally/

You can verify whether everything is correctly installed by following the steps here: https://pytorch.org/get-started/locally/#windows-verification

[2022-06-21 12:02] guarin commented on #848
Hi!

It looks like there is an issue with your pytorch installation. Which version of pytorch/torchvision/pytorch lightning/pytorch lightning metrics are you using? Could you try updating your pytorch version, I believe this is the easiest solution to resolve the issue.

[2022-06-21 21:05] shikharmn commented on #396
Hi @philippmwirth, is this still relevant? Can pick this up again now.

(sorry, was drowned with uni work)

[2022-06-22 07:56] philippmwirth commented on #396
Yes sure, I think we can move ahead with this one 👍

[2022-06-24 12:18] shikharmn commented on #396
Hi @philippmwirth, do let me know if #850 is okay.

[2022-06-24 12:27] shikharmn commented on #396
Ah no worries, I didn't know if the notification reached you, do take a look whenever you find the time! :)

[2022-06-25 00:12] ramdhan1989 commented on #848
Ok thanks, it is working now

[2022-06-25 00:12] #848 closed

[2022-06-27 07:32] shikharmn commented on #396
Thank you @guarin for approving the PR #850! I'll move on to writing the PIRL network and related loss function now to finish this up. Do let me know if there's any details regarding that task which I should keep in mind.

[2022-06-27 07:34] philippmwirth commented on #396
Awesome work @shikharmn! Looking forward to your future contributions 🙂

[2022-06-28 10:11] aqsalab commented on #837
Can you help me ?.which  is the main file of this lightly code ?

On Tue, Jun 14, 2022, 2:00 PM guarin ***@***.***> wrote:

[2022-07-26 17:50] faris-k opened #877 "Clarification on structuring inputs for partially labeled datasets and semi-supervised learning tasks"
As per the tutorial on [structuring your inputs](https://docs.lightly.ai/tutorials/structure_your_input.html#directory-with-subdirectories-containing-images), subdirectories in your input directory get assigned a "weak label." If we have a dataset with both labeled samples and unlabeled samples, is this the correct way to go about structuring the data if we're approaching a semi-supervised task?

[2022-07-27 08:13] masc-it opened #878 "MSN: Masked Siamese Networks for Label-Efficient Learning"
Hello, I would like to share this new interesting SSL method proposed by Meta that achieves SOTA results and shows interesting generalization properties.

It is based on ViT and I think it could be worth to integrate it in this codebase. Also, the official implementation is available :)

[MSN Paper](https://arxiv.org/abs/2204.07141), [MSN GIthub code](https://github.com/facebookresearch/msn)

[2022-07-27 15:38] IgorSusmelj commented on #878
@masc-it, this is a great idea. I haven't read the paper yet and will do it for our paper session. We will discuss the paper in our upcoming session this Friday 1pm CET. Feel free to join our discord channel: https://discord.gg/xvNJW94

After the session we hopefully have a better understanding of how the model could be best integrated. If you already had some thoughts feel free to share them :)

[2022-08-02 07:25] philippmwirth commented on #878
Hey @masc-it this should work almost out of the box. We have the necessary tools for momentum updates here:
- https://github.com/lightly-ai/lightly/blob/c1c4ee2b2de8e3fa2e831cf142d4864e80c0b448/lightly/models/utils.py#L159
- https://github.com/lightly-ai/lightly/blob/c1c4ee2b2de8e3fa2e831cf142d4864e80c0b448/lightly/models/utils.py#L186

For masking and ViTs we can use the MAE implementation
- http

[2022-08-02 07:40] philippmwirth commented on #878
I quickly put this example together:

[code]

There are some details I left out here (like the linear scaling of the momentum) but all in all I think it shouldn't be too hard to add it 🙂

[2022-08-02 08:29] guarin commented on #877
Hi @faris-k!

The name of the "weak labels" might be a bit confusing. The "weak" just comes from the fact that classes are assigned based on the subdirectory (or video for video datasets). We don't make a difference between "strong" and "weak" labels.

For a semi-supervised task I would suggest to put all unlabelled images in a common subdirectory as in your first example. During training you can

[2022-08-02 09:46] guarin commented on #878
The proposal looks great!

I noticed two small things that are missing:
* Focal mask augmentation
* Cluster prototypes / assignments

I think both should be relatively easy to add.

[2022-08-02 12:57] philippmwirth commented on #878
Thanks for the feedback, @guarin. I went through the paper again and added dummies for focal masks, projection heads, and prototypes. The only thing missing in the proposal above is the "sinkhorn normalization" of the prototypes which doesn't seem to be required for best performance:
![image](https://user-images.githubusercontent.com/65946090/182379444-2c601e58-6c53-4f43-ae0e-81e2f23475ec.png)

So

[2022-08-02 13:15] philippmwirth commented on #878
Quick update, we can't simply use the `SimCLRCollateFunction` as shown above because they use different augmentations for each of the anchor images (hence we need a `MultiViewCollateFunction` instead).

[2022-08-02 13:24] philippmwirth commented on #878
Also, correct me if I'm wrong, but I think the `focal_mask` is simply implemented as a crop in the official repo:
https://github.com/facebookresearch/msn/blob/4388dc1eadbe3042b85d3296d41b9b207656e043/src/deit.py#L213

[2022-08-04 19:35] #877 closed

[2022-08-12 13:47] Nike682631 commented on #458
Hi @philippmwirth , Is this issue still available to work on? Apologies for getting back after a long time.

[2022-08-25 08:05] IgorSusmelj opened #912 "Lightly CLI not working for pytorch lightning versions < 1.5"
As we learned from https://github.com/lightly-ai/lightly/pull/905#pullrequestreview-1081836860 the earlier pytorch lightning versions (<1.5) are not compatible with the lightly cli for training SSL models.

Let's discuss here how we want to resolve that:
- we can make an if/else statement to ensure compatibility with earlier versions. This is low effort but it's a short/mid-term solution. Newer ch

[2022-08-26 08:49] #878 closed

[2022-09-02 10:27] sarmientoj24 opened #920 "How to use Swin-Transformer v1/v2 as a backbone?"
Is it easy to plug-in? And which SSL models can accomodate it out of the box?

[2022-09-05 11:09] japrescott commented on #878
Docs are available: https://docs.lightly.ai/examples/msn.html

[2022-09-05 11:20] philippmwirth commented on #920
Hi @sarmientoj24, since all our SSL models work with an abstraction for the backbone it should be rather easy to plug-in the Swin-Transformers. I only see difficulties for MAE and MSN. I will take a look to see how much effort it is 👍

[2022-09-16 09:42] dreamercv opened #928 "What is the appropriate training loss?"
I use light to train my own data, there are a total of 30w pieces of data（the data captured by the driving recorder）。

The parameters I set are epoch=1000, batch=128, optimizer=sgd，after training for 300 epochs, when I connected the self-supervised model to the downstream task, I found that the effect of the downstream task was very poor

 how do I set the hyperparameters? for example epoch ？batch

[2022-09-20 16:53] MalteEbner commented on #928
Hey @dreamercv ,

### Regarding hyperparameters:
These benchmarks show that usually, more epochs and higher benchmarks are better: https://docs.lightly.ai/getting_started/benchmarks.html

We did not benchmark different optimisers so far, best take the one wich is recommended for the SSL model you use. Look at the reproduction scripts linked in the docs. The loss depends on the optimiser, model and

[2022-09-21 21:48] shree-lily commented on #127
Has this been added to the documentation?

[2022-09-22 06:42] guarin commented on #127
Hi @shree-lily, we sadly did not add this to the documentation yet.

You can still use either pytorch or pytorch lightning to save and load checkpoints:
* https://pytorch.org/tutorials/beginner/saving_loading_models.html#saving-loading-model-for-inference
* https://pytorch-lightning.readthedocs.io/en/stable/common/checkpointing_basic.html

Taking our example code for the SimCLR model here: https:/

[2022-09-25 03:39] ramdhan1989 opened #935 "train any types of backbone for masked based model"
Hi, is it possible to use non transformer backbone in masked based model such as MAE or MSN? actually, I would like to train backbone using MAE or MSN for object detection using detectron2. I only found an example using contrastive based model.

thank you

[2022-09-26 07:12] guarin commented on #935
Hi @ramdhan1989

MAE and MSN do not directly work with convnet backbones. You could maybe try "masking" image patches by setting the rgb values in the masked patches to 0 and then passing the image through the backbone. But I have not seen it yet in the literature.

But you might be interested in [SimMIM](https://arxiv.org/abs/2111.09886) which is sadly not yet implemented in Lightly but allows tr

[2022-09-26 15:57] faris-k opened #936 "Any plans for self-supervised object detection?"
Seeing as lightly has a ton of great models for self-supervised representation learning for "classification tasks," are there any plans in the future to implement methods for self-supervised object detection? Here's a link to a survey article and a few noteworthy papers in the area.

- A Survey of Self-Supervised and Few-Shot Object Detection: [https://arxiv.org/abs/2110.14711](https://arxiv.org/a

[2022-09-27 06:54] dreamercv commented on #928
I use the backbone of yolox for self-supervised training. After training, I use the p3, p4, and p5 layers of pafpn as the output, and then add several layers of convolution after p3, p4, and p5 as my downstream task network (specific task is the keypoint detection where the vehicle meets the ground).

How to train downstream tasks？
![eIIC5A0wat](https://user-images.githubusercontent.com/50707593/1

[2022-09-27 07:46] guarin commented on #936
Hi @faris-k,

We are very much interested in self-supervised object detection and pretraining for object detection. We did not yet implement any methods because there does not seem to be a well defined standard on how to train such networks and how to do the data loading. This is in contrast with image classification where most models follow more or less the same training setup with only minor dif

[2022-09-27 11:09] ramdhan1989 commented on #935
Ok thanks a lot for your suggestion @guarin

[2022-09-28 08:23] MalteEbner commented on #928
Most SSL models learn to distinguish images, thus their embeddings encode properties of the full image and neglect details. This makes SSL pretraining great for classification tasks, but worse for tasks focusing on details like object detection and keypoint detection. This explains why the pretaining does not work.

I see some possibilities here to fix that:
- Train you SSL model not only on full

[2022-09-28 08:43] guarin commented on #928
As @MalteEbner suggested it is often best to not completely freeze the backbone for finetuning on object detection. Regarding the different SSL models you can, for example, find the following table in the [Efficient Visual Pretraining with Contrastive Detection](https://arxiv.org/abs/2103.10957) paper (Table 2):
<img width="551" alt="Screenshot 2022-09-28 at 10 37 19" src="https://user-images.gith

[2022-09-29 07:39] dreamercv commented on #928
In my work, there are currently 1 million pictures, of which 400,000 pictures are marked with rectangular frames of people and vehicles, 400,000 pictures are marked with road information such as lane lines, and the remaining 200,000 pictures are marked with vehicles and ground. information on key points. However, these data are all models trained separately, including the lane line detection model

[2022-09-29 22:53] Atharva-Phatak opened #944 "Add multiprototype-heads for SWAV"
I took a look at the implementation of SWAV lightly and the one in FAIR's repo (https://github.com/facebookresearch/swav/blob/main/src/resnet50.py). Lightly uses a single ```nn. Linear``` for prototypes but FAIR implementation has multiple prototype heads ? Any reason why lightly uses a single linear layer?

If not can we make it a Multi prototype head with multiple ```nn. Linear``` ?

If so I can

[2022-09-30 08:13] guarin commented on #944
Hi, yes you are completely right, we only added single prototype head. We added the single head because this is the default setting in SwAV.

Adding a multiprototype head seems like a perfect addition to Lightly and a PR would be more than welcome :)

[2022-09-30 14:04] Atharva-Phatak commented on #944
Sure I will create a PR asap :)

[2022-10-05 15:50] Atharva-Phatak commented on #781
I can take a look at this and let you know. Are you guys hiring new grads remotely? I would be excited to work with you guys.

[2022-10-05 19:03] #944 closed

[2022-10-06 09:24] philippmwirth commented on #781
Hi @Atharva-Phatak thank you for your valuable contributions and your interest in working with us 🙂 Please make sure to check our jobs page (https://www.lightly.ai/jobs) for information about openings at Lightly.

We can split this issue into separate pull-requests to manage the work load. One for the DirectCLR loss and one for monitoring dimensional collapse with SVD. What do you think?

[2022-10-06 22:34] Atharva-Phatak commented on #781
@philippmwirth That sounds good. Let me take a look at DIRECTCLR paper and the implementation that they have released.
I took a look at job opening, you are only hiring senior engineers unfortunately 😭 .

[2022-10-11 18:38] Atharva-Phatak commented on #781
@philippmwirth Quick question, will this PR also require implementing DIRECT-CLR head ? Also do we have a working implementation of InfoNCELoss ??

[2022-10-29 20:51] kfallah opened #968 "NNMemoryBank not working with DataParallel"
I have been using the NNMemoryBank as a component in my module and noticed that at each forward pass `NNMemoryBank.bank` is equal to `None`. This only occurs when my module is wrapped in `DataParallel`. As a result, throughout training my NN pairs are always random noise (surprisingly, this only hurt the contrastive learning performance by a few percentage point on linear probing??).

Here is a si

[2022-11-03 23:34] faris-k opened #972 "Which framework to use for more resource-efficient training? Plus a recent paper in this regard, "FastSiam: Resource-Efficient Self-supervised Learning on a Single GPU""
For those of us with just a single GPU, what framework do you suggest using in general? I know that SimSiam is often a good choice in this regard since it generally requires smaller batch sizes than the other frameworks.

I recently came across the following paper, "FastSiam: Resource-Efficient Self-supervised Learning on a Single GPU": [https://link.springer.com/chapter/10.1007/978-3-031-16788-1_

[2022-11-04 08:00] philippmwirth commented on #972
Hi @faris-k,

In our experience, both SimCLR and MoCo work well even with smaller batchsizes whereas SimSiam can be a bit tricky to train.

Regarding FastSiam: We'll have to take a closer look at the paper in one of our paper sessions (they're regularly organized in our [Discord](https://discord.gg/xvNJW94)). At first sight it looks like it could already be implemented with the building blocks cur

[2022-11-15 10:13] aqibsaeed opened #977 "SSL Online Evaluator Callback with Custom Data (i.e., different than pre-training data)"
Hi,

Is it possible to use online evaluation of SSL encoder with a linear classifier to run on different data then the one being used for pre-training?

[2022-11-17 21:46] kfallah commented on #968
I just wanted to check back and see if there was any progress on this issue 🙂. Could this be fixed by making `bank` a parameter with `requires_grad=False` in `lightly.loss.memory_bank.MemoryBankModule`? I think this same issue may also occur with loading/saving the module, since `bank` is just a tensor.

[2022-11-17 21:55] kfallah commented on #968
Note that this issue is a known limitation in the DataParallel, where the suggested solution is an in-place edit of a buffer or parameter (second warning blurb as of Nov 2022):
https://pytorch.org/docs/stable/generated/torch.nn.DataParallel.html

Seems like the best design pattern would be to register `bank` as a buffer and do in-place edits in `forward`:
https://pytorch.org/docs/stable/generated/

[2022-11-18 09:43] guarin commented on #968
Hi @kfallah,

Thanks a lot for investigating this! I think you are right and we should register the memory bank as a buffer. `register_buffer` takes an additional `persistent` argument which controls whether the buffer should be part of the state dict or not. I believe we can just set `persistent=False` to avoid saving the memory bank in the checkpoint.

Would you be interested in making a PR for

[2022-11-18 09:47] guarin commented on #977
Hi @aqibsaeed,

Yes, it is common to evaluate a model on a different dataset than the dataset that was used for pretraining. In this case, you usually also have to fine-tune (train the classifier) on the dataset used for evaluation.

[2022-11-21 21:01] kfallah commented on #968
I do not think I will have the time to make the PR, I would be deeply grateful if someone else had the chance.

[2022-11-23 14:01] DanTaranis opened #991 "how can I reconstruct images (MAE)"
Hi and thank you for writing this great library.

I'm trying to figure out if my MAE training worked beyond looking at mse numbers.
I input an image of shape 256x256 (rgb) and then I get predictions of shape bx38x3072
I'm using the default torchvision.models.vit_b_32

I am not sure how to reshape this back into an image? it also just doesn't make sense based on the numbers - there should be 64 pat

[2022-11-23 14:13] DanTaranis commented on #991
I figure out the issue - the default vit.sequence length is 50 , since I used 256 instead of 224 I should have adjusted the length

[2022-11-23 14:45] guarin commented on #991
Hi, converting predictions back to images is indeed not straightforward. You are correct that you have to adapt the sequence length when changing the input image or patch size.

Regarding transforming the tokens back to images you could try using the `unpatchify` method from the paper: https://github.com/facebookresearch/mae/blob/efb2a8062c206524e35e47d04501ed4f544c0ae8/models_mae.py#L109

I didn'

[2022-11-23 14:47] DanTaranis commented on #991
thanks. I'll try it out!

[2022-11-23 15:20] DanTaranis commented on #991
kinda hood but:
[code]

[2022-11-23 15:45] guarin commented on #991
Nice! If you just want to run inference you can also drop the whole idx business and get the predictions for the full image like this:

[code]

[2022-11-23 16:04] DanTaranis commented on #991
wouldn't it give the model too much information? I want to see how it does when part of the image is masked...

[2022-11-23 17:01] guarin commented on #991
Yes, you are right :) I never tested this, I am not sure after how much training the model can recreate the input perfectly without any masking.

[2022-11-24 08:28] guarin commented on #968
I'll have a look as soon as I get some time.

[2022-11-24 16:02] guarin commented on #779
Closed by #989

[2022-11-24 16:02] #779 closed

[2022-11-28 09:22] guarin commented on #968
@kfallah I made a PR with the change, this can hopefully be merged soon.